version: '3.8'
services:
  # tradebot:
  #   build: .
  #   container_name: tradebot
  #   depends_on:
  #     - redis
  #   tty: true
  #   stdin_open: true

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - '${NEXUS_REDIS_PORT}:6379'
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --requirepass ${NEXUS_REDIS_PASSWORD}
    environment:
      - REDIS_PASSWORD=${NEXUS_REDIS_PASSWORD}

  loki:
    image: grafana/loki:3.3.1
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./yaml-config:/etc/loki
      - loki-data:/loki
    command: -config.file=/etc/loki/loki-config.yaml
    restart: unless-stopped

  promtail:
    image: grafana/promtail:3.0.0
    container_name: promtail
    volumes:
      - ./.log:/var/log
      - ./yaml-config:/etc/promtail
    command: -config.file=/etc/promtail/promtail-config.yaml
    restart: unless-stopped

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    # if you are running as root then set it to 0
    # else find the right id with the id -u command
    user: '0'
    ports:
      - '3001:3000'
    # adding the mount volume point which we create earlier
    volumes:
      - '/data/grafana-data:/var/lib/grafana'

  timescaledb:
    image: timescale/timescaledb-ha:pg17
    container_name: timescaledb
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${NEXUS_POSTGRES_USER}
      POSTGRES_PASSWORD: ${NEXUS_POSTGRES_PASSWORD}
    volumes:
      - /data/timescaledb:/var/lib/postgresql/data


volumes:
  redis_data:
  loki-data:
